node_modules
target

**/a.ts
**/a.js
**/a.json
**/a.txt
**/a.py
**/a.sh
**/a.rs
**/a.go
**/tmp/
**/a.dart

# Script Data Ignore (Built Output)
packages/js/src/script_data
packages/js/src/custom_options.json

test_data/transliteration/auto-*/auto-*.yaml
