name: Deploy Web Client

on:
  push:
    branches: [main]
    paths:
      - 'packages/js/**'
      - 'packages/rust/**'
      - 'docs/docs-and-web-client/**'
      - '.github/workflows/deploy_web_client.yml'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
  
env:
  PUBLIC_POSTHOG_KEY: ${{  vars.PUBLIC_POSTHOG_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        name: Setup Bun
      

      # Compile wasm
      - name: Generate Script Data
        run: |
          cd packages/js
          bun install
          bun run make-script-data
      ## Rust
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable 
      - name: Cache cargo registry + build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: jetli/wasm-pack-action@v0.4.0
      - name: Build WASM
        run: |
          cd packages/js/wasm
          wasm-pack build --release --target web



      - name: Build JS Package
        run: |
          cd packages/js
          bun install
          bun run build
      - name: Build Site
        run: |
          cd docs/docs-and-web-client
          bun install
          bun run build
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/docs-and-web-client/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
