name: JS Package CI

on:
  - push

jobs:
  type_build_check:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Typescript and Build Check
        run: |
          cd packages/js
          bun install
          bun run build
          bun run check
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: oven-sh/setup-bun@v2
      - name: Generate Test Data
        run: |
          bun install
          bun run gen:test-data
      - name: Test and Coverage
        run: |
          cd packages/js
          bun install
          bun run make-script-data
          bun test --coverage --concurrent --only-failures
