name: JS Package CI

on:
  - push

jobs:
  type_build_check:
    # strategy:
    #   matrix:
    #     os: [ubuntu-latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Compile wasm
      - name: Generate Script Data
        run: |
          cd packages/js
          bun install
          bun run make-script-data
      ## Rust
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable 
      - name: Cache cargo registry + build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: jetli/wasm-pack-action@v0.4.0
      - name: Build WASM
        run: |
          cd packages/js/wasm
          wasm-pack build --release --target web


          
      - uses: oven-sh/setup-bun@v2
      - name: Typescript and Build Check
        run: |
          cd packages/js
          bun install
          bun run build
          bun run check
  tests:
    # Does not depend on wasm (rust)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Generate Test Data
        run: |
          bun install
          bun run gen:test-data
      - name: Test and Coverage
        run: |
          cd packages/js
          bun install
          bun run make-script-data
          bun test --coverage --concurrent --only-failures
