name: Release NPM Package

on:
  push:
    tags:
      - 'js-lib@v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - uses: oven-sh/setup-bun@v2
        name: Setup Bun
      # Compile wasm
      - name: Generate Script Data
        run: |
          cd packages/js
          bun install
          bun run make-script-data
      ## Rust
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable 
      - name: Cache cargo registry + build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: jetli/wasm-pack-action@v0.4.0
      - name: Build WASM
        run: |
          cd packages/js/wasm
          wasm-pack build --release --target web

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Generate Test Data
        run: |
          bun install
          bun run gen:test-data
      - name: Build Package
        run: |
          cd packages/js
          bun install
          bun run build
          bun test --only-failures
        # Test before publishing to npm

      - name: Publish to npm
        run: |
          cd packages/js
          npm publish
