name: Release NPM Package

on:
  push:
    tags:
      - 'js-lib@v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - uses: oven-sh/setup-bun@v2
        name: Setup Bun        
      - name: Generate Test Data
        run: |
          bun install
          bun run gen:test-data
      - name: Build Package
        run: |
          cd packages/js
          bun install
          bun run build
          bun test --only-failures
        # Test before publishing to npm

      - name: Publish to npm
        run: |
          cd packages/js
          npm publish
